body {
    margin: 0%;
    font-family: 'Aboreto', cursive;
}

h1 {
    font-size: 50px;
}

.Name-colour {
    color: rgb(214, 63, 63);
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding left: 2%;

}

.half-width img {
    width: 100%;
}

.background {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

section {
    height: 500px;
}