body {
    margin: 0%;
    font-family: 'Aboreto', cursive;
}

h1 {
    font-size: 50px;
}

.Name-colour {
    color: rgb(214, 63, 63);
}

.half-width {
    width: 40%;
    float: left;
}

.half-width img {
    width: 100%;
}

.background {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
}
.image1{
    height: 450px;
    width: 550px;
}


.link-button{
    text-decoration: none;
    color: white;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(2,0,36,1) 0%, rgba(113,82,82,1) 100%);
    border-radius: 5px;
    font-weight: 700;
    padding: 10px 20px;
}
.big-dream{
    display: flex;
    /* justify-content: space-between; */
    padding: 50px 80px;
}
.dream-text{
    padding-left: 160px;
}
.dream-header{
    font-weight: 700;
    font-size: 25px;
}
